/* Split the screen in half */
.split-left-home {
  height: 100%;
  width: 70%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow: hidden;
  padding-top: 0px;
}

/* Split the screen in half */
.split-right-home {
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow: hidden;
  padding-top: 0px;
}

/* Control the left side */
.left-home {
  left: 0;
  background-color: #c5ddeb;
}

/* Control the right side */
.right-home {
  right: 0;
  background-color: #c5ddeb;
}
