.emoji-container {
  right: 3rem;
  bottom: 3.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  border-radius: 15px;
  z-index: 100;
  position: absolute;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  &-circle {
    border-radius: 100%;
    padding: 5px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 30px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.075);
    }
    &-detail {
      animation: emoji-popup 1s ease-out;
      font-size: 15px;
    }
  }
}
