.icon-color {
  &-primary {
    svg {
      fill: #0084ff;
    }
  }

  &-phone {
    svg {
      fill: #0084ff;
    }
  }

  &-red {
    svg {
      fill: #f74545;
    }
  }
}

.messenger-container {
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  position: relative;
}

.messenger-search {
  bottom: 0;
  position: absolute;

  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
  height: 100px;

  input {
    height: 100%;
    border-top: solid #05050527 1px;
    padding-left: 2rem;
    padding-right: 5rem;
    font-size: 20px;
  }

  &-icon {
    margin: 0 1rem;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 10px;
    cursor: pointer;
    // padding: 10px;
    border-radius: 100%;
    background-color: #448aff;
    padding: 0.5rem;
    fill: #ffffff;

    svg {
      transform: translate(10%, -90%);
      width: 12px;
      height: 12px;
    }
  }
}

.messenger-list {
  width: 100%;
  height: 82vh;
  overflow-y: scroll;
  // bottom: 0;

  &-ul {
    width: 100%;
    overflow-x: hidden;
    &-detail {
      // margin-right: 5rem;
      cursor: pointer;
      box-sizing: border-box;
      width: 100%;
      display: inline-flex;
      align-items: center;
      padding: 8px;
      padding-bottom: 14px;

      border-radius: 0.6rem;

      &__img {
        position: relative;
        display: flex;
        margin-left: 0.5rem;
        margin-right: 1rem;

        &__online {
          position: absolute;
          border-radius: 100%;
          width: 11px;
          height: 11px;
          background-color: rgb(88, 172, 4);
          bottom: 0;
          right: 0;
        }
      }

      img {
        width: 36px;
        height: 36px;
        border-radius: 100%;
        align-items: center;
      }

      &:hover {
        background-color: #dddbdb44;
      }

      &__text {
        display: block;
        &__name {
          font-size: 1rem;
          font-weight: 500;
        }

        &__noti {
          font-size: 0.9rem;
          font-weight: normal;
          word-break: break-word;
          overflow: hidden;
          color: #65676b;
          text-overflow: ellipsis;
          line-height: 1.2308;

          -webkit-font-smoothing: antialiased;
          white-space: nowrap;
          max-width: 100%;
        }
      }
    }
  }
}

.messenger-chatbox {
  bottom: 75px;
  transform: translateX(-25px);
  position: absolute;
  background-color: #ffffff;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  border: solid #65676b21 1px;
  width: 328px;
  height: 455px;

  &-nav {
    width: 100%;
    height: 48px;
    padding: 8px;
    border-bottom: solid #65676b2f 1px;

    &-info {
      display: inline-flex;

      img {
        width: 32px;
        height: 32px;
        border-radius: 100%;
        margin-right: 10px;
      }

      &__name {
        font-size: 15px;
        color: #050505;
      }

      &__icon {
        position: absolute;
        right: 1rem;
        max-width: 100px;
        &__detail {
          // width: $button-size;
          // height: $button-size;
          width: 30px;
          height: 30px;
          border-radius: 100%;
          padding: 0 5.5px;
          // margin: 2px;
          // display: flex;
          // align-items: center;
          // justify-content: center;
          // transition: filter 300ms;

          &:hover {
            background-color: #e4e6eb;
          }

          svg {
            width: 17px;
            height: 17px;
          }
        }
      }
    }
  }

  &-contain {
    width: 100%;
    height: 354px;
    line-height: 1.34;
    // overflow-y: scroll;

    &-none {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      img {
        // width: 250px;
        height: 300px;
      }

      &__text {
        font-weight: 700;
        font-size: 17px;
      }
    }

    &-list {
      height: 100%;

      overflow-y: scroll;
      li {
        padding-left: 0;
        display: inline-flex;
        font-size: 15px;
        margin-top: 8px;
      }

      &__left {
        width: 100%;

        &__detail {
          div:not(:first-child) {
            margin-top: 8px;
          }
        }

        &__ava {
          align-self: flex-end;

          img {
            width: 28px;
            height: 28px;
            border-radius: 100%;
            margin: 8px;
            margin-bottom: 0;
            bottom: 0;
          }
        }

        &__img {
          img {
            margin-right: 22px;
            max-width: 202px;
            border-radius: 18px;
            // object-fit: cover;
            cursor: pointer;
            border: solid rgba(56, 88, 152, 0.212) 1px;
          }
        }

        &__file {
          display: inline-flex;
          cursor: pointer;

          padding-top: 7px;
          padding-left: 12px;
          padding-right: 12px;
          padding-bottom: 8px;
          overflow-y: hidden;
          overflow-x: hidden;
          word-break: break-word;
          border-bottom-left-radius: 18px;
          border-top-right-radius: 18px;
          border-bottom-right-radius: 18px;
          border-top-left-radius: 18px;
          // position: relative;
          background-color: #e4e6eb;
          color: #050505;
          font-weight: 700;
          font-size: 13.5px;
          max-width: 165px;

          &__icon {
            width: 32px;
            height: 32px;
            align-self: center;
            padding: 8px;
            border-radius: 100%;
            background-color: #ffffff;
            margin-right: 10px;

            svg {
              width: 16px;
              height: 16px;

              //
              // border-radius: 100%;
              fill: #050505;
            }
          }

          &__text {
          }
        }

        &__text {
          padding-top: 7px;
          padding-left: 12px;
          padding-right: 12px;
          padding-bottom: 8px;
          overflow-y: hidden;
          overflow-x: hidden;
          word-break: break-word;
          border-bottom-left-radius: 18px;
          border-top-right-radius: 18px;
          border-bottom-right-radius: 18px;
          border-top-left-radius: 18px;
          position: relative;
          background-color: #e4e6eb;
          color: #050505;
          max-width: 165px;
          font-size: 14px;
        }
      }

      &__right {
        width: 100%;
        align-content: center;
        justify-content: flex-end;

        img {
          margin-right: 22px;
          max-width: 202px;
          border-radius: 18px;
          // object-fit: cover;
          cursor: pointer;
          border: solid rgba(56, 88, 152, 0.212) 1px;
        }

        &__text {
          margin-right: 22px;

          padding-top: 7px;
          padding-left: 12px;
          padding-right: 12px;
          padding-bottom: 8px;
          overflow-y: hidden;
          overflow-x: hidden;
          word-break: break-word;
          border-bottom-left-radius: 18px;
          border-top-right-radius: 18px;
          border-bottom-right-radius: 18px;
          border-top-left-radius: 18px;
          position: relative;
          color: #ffffff;
          background-color: #0084ff;
          max-width: 204px;
        }

        &__file {
          margin-right: 22px;
          display: inline-flex;
          cursor: pointer;

          padding-top: 7px;
          padding-left: 12px;
          padding-right: 12px;
          padding-bottom: 8px;
          overflow-y: hidden;
          overflow-x: hidden;
          word-break: break-word;
          border-bottom-left-radius: 18px;
          border-top-right-radius: 18px;
          border-bottom-right-radius: 18px;
          border-top-left-radius: 18px;
          // position: relative;
          background-color: #e4e6eb;
          color: #050505;
          font-weight: 700;
          font-size: 13.5px;
          max-width: 165px;

          &__icon {
            width: 32px;
            height: 32px;
            align-self: center;
            padding: 8px;
            border-radius: 100%;
            background-color: #ffffff;
            margin-right: 10px;

            svg {
              width: 16px;
              height: 16px;

              //
              // border-radius: 100%;
              fill: #050505;
            }
          }

          &__text {
          }
        }
      }
    }
  }

  &-input {
    overflow-y: hidden;
    width: 100%;
    height: 53px;
    display: inline-flex;
    align-items: center;

    &-detail {
      display: inline-flex;

      &__form {
        position: relative;
        input {
          // z-index: 1;
          word-break: break-word;
          border-radius: 20px;
          background-color: #f0f2f5;
          padding: 8px;
          padding-left: 1rem;
          padding-right: 3.5rem;
          // padding-left: 10px;
        }

        a {
          // z-index: -1;
          right: 1rem;
          position: absolute;
        }

        &__icon {
          width: 32px;
          height: 32px;
          padding: 8px;

          border-radius: 100%;

          margin-left: 5px;

          svg {
            width: 21px;
            height: 21px;

            fill: #0084ff;
          }
        }
      }

      &__icon {
        width: 32px;
        height: 32px;
        // align-self: center;
        padding: 8px;

        border-radius: 100%;
        // background-color: #ffffff;
        // margin-right: 5px;
        margin-left: 5px;

        &:hover {
          background-color: #c5c5c54d;
        }

        svg {
          width: 21px;
          height: 21px;

          //
          // border-radius: 100%;
          fill: #0084ff;
        }
      }
    }
  }
}
