#banner {
  background-image: url("../img/background1.jpeg");
  background-size: cover;
}

#one {
  background-image: url("../img/background2.png");
  background-size: cover;
}

#two {
  background-image: url("../img/background3.png");
  background-size: cover;
}

body {
  overflow: hidden;
}
