@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}

@keyframes form-appear-top {
  from {
    margin-bottom: 0;
  }

  to {
    margin-bottom: 1rem;
  }
}

@keyframes form-appear-bottom {
  from {
  }

  to {
    margin-top: 10rem;
  }
}

@keyframes form-appear-bottom-login {
  from {
  }

  to {
    margin-top: 7rem;
  }
}

@keyframes search-dropdown {
  0% {
    max-height: 0px;
  }

  100% {
    max-height: 400px;
  }
}

@keyframes emoji-popup {
  0% {
    font-size: 0px;
  }

  100% {
    font-size: 17px;
  }
}
